/*=============================
=            GLOBALS            =
=============================*/
@import 'global';
@import 'custom';
// body {
//   display: none;
// }

#REACT-PLUGIN-APP {
  height: 400px;
  width: 100%;
  border: 1rem dotted red;
}
